<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (ViewBag.Title != String.Empty)
    {
        <title>
            @ViewBag.Title – поликлиника Владимир XXI
        </title>

    }
    else
    {
        <title>
            Поликлиника Владимир XXI
        </title>
    }


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Поликлиника Владимир XXI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>
                <div>
                    @if (User.Identity.IsAuthenticated) // Если пользователь авторизирован
                   // @if (ViewBag.User != null && ViewBag.User != String.Empty) // Если пользователь найден
                    {
                        @Html.ActionLink("Выйти", "Logout", "Account", null, new { @class = "btn btn-primary", @style = "float: right; margin: 10px 0; " })
                        <ul class="nav navbar-nav" style="float:right">
                            <li>@Html.ActionLink((string)User.Identity.Name, "Details", "Account", new { username = User.Identity.Name }, null)</li>
                        </ul>
                    }
                    else
                    {
                        @Html.ActionLink("Войти", "Login", "Account", null, new { @class = "btn btn-primary", @style = "float: right; margin: 10px 0; " })
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("custom", required: false)
</body>
</html>
