@model WebAppPolyclinic.Models.Appointment

@{
    ViewBag.Title = "Запись на выбранный приём";
}

<h2>Запись на выбранный приём</h2>

<div>
    <h4>Информация по приёму:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommonAppointment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommonAppointment)
        </dd>

        <dt>
            Время приёма
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDateTime)
        </dd>

        <dt>
            Продолжительность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            Врач
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.Name) @Html.DisplayFor(model => model.Doctor.Surname)
        </dd>

    </dl>
</div>

@if (!Model.CommonAppointment && Model.Patient.PatientId == null)
{
    <p>
        К сожалению, для Вас этот прием недоступен. Выучите его за 9.99$.
        @Html.ActionLink("Назад", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Подтвердить", "Accept", new { id = Model.Id }) |
        @Html.ActionLink("Отмена", "Index")
    </p>
}

