@using WebAppPolyclinic.Models
@model IEnumerable<Appointment>

@{
    ViewBag.Title = "Список доступных приёмов";
}

<h2>Список доступных приёмов</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        Список приемов
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Тип приема</th>
                <th>Дата и время</th>
                <th>Продолжительность</th>
                <th>Доктор</th> 
                <th>Записаться</th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th>Админ</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="3" class="text-center">Нет ни одного приема</td>
                </tr>
            }
            else
            {
                foreach (Appointment appointment in Model)
                {
                <tr>
                    @if (appointment.CommonAppointment)
                    {
                        <td>Общий</td>
                    }
                    else
                    {
                        <td>Для зарегистрированных</td>
                    }
                    <td>@appointment.AppointmentDateTime@*.ToString("dd.MM.yyyy")*@</td>
                    <td>@appointment.Duration</td>
                    <td>@appointment.Doctor.Surname @appointment.Doctor.Name</td>
                    @if (appointment.Patient != null || !User.Identity.IsAuthenticated && !appointment.CommonAppointment)
                    {
                        <td>Этот приём не доступен</td>
                    }
                    else
                    {
                        <td>@Html.ActionLink("Записаться", "MakeApp", "Appointment", new { id = appointment.Id }, new { @class = "btn btn-primary btn-xs" })</td>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <th>
                            @Html.ActionLink("Ред.", "Edit", "Appointment", new { id = appointment.Id }, new { @class = "btn btn-primary btn-xs" })
                            @Html.ActionLink("Уд.", "Delete", "Appointment", new { id = appointment.Id }, new { @class = "btn btn-danger btn-xs" })
                        </th>
                    }
                </tr>
                }
            }
        </tbody>
    </table>


</div>

@if (User.Identity.IsAuthenticated)
{

    @Html.ActionLink("Добавить запись", "Create", "Appointment", null, new { @class = "btn btn-primary" })
}
@*@Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-primary" })*@